.container-bank{
  margin-top: 20px;
  background-color: #181818;
  border-radius: 20px;
  width: 100%;
  min-height: 700px;
  height: 100%;

  display: block;

  // top: 5%;

  animation: fadeInDown 1s forwards;

  overflow-y: scroll;
}






@media (min-width: 768px) {
  .container-bank {
    background-color: #181818;
    border-radius: 20px;
    width: 90%;
  
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    height: 90%;
    overflow: hidden;
    position: absolute;
  
    top: 5%;
  
    animation: fadeIn 0.5s forwards;
  }
  .titulo {
    text-align: center;
  }
  .lista-cuentas {
    display: grid;
    justify-content: space-between;
    margin-left: 50px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .cuenta-banco {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  

}

