.table{
  width: 100%;
  text-align: start;
}


@media (min-width: 968px) {
  .table {
    width: 100%;
    animation: fadeInDown 1s forwards;
  
    & th {
      font-size: 20px;
      text-align: start;
      
    }
    & td {
      font-size: 15px;
      animation: fadeInDown 1s forwards;
    }
  }

}


