html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
.App{
  min-height: 700px;
}
@media (min-width: 968px) {
.App{
  min-height: 900px;
}
}

body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;
  display: block;
}





@media screen and (max-width: 1200px) {
  .dashboard {
    margin-top: 200px;
    margin-left: 200px;
  }
  body {
    overflow: visible;
  }
}
